// Place all the styles related to the Movies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

header {
  height: 75px;
  border-bottom: 1px solid black;
  margin-bottom: 30px;
  display: grid;
  place-items: center;
}

.row {
  display: flex;
}

.col {
  width: 25%;
}
