// Place all the styles related to the Movies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.row {
  display: flex;
  justify-content: center;
}

.col {
  flex: 1;
}

.row-rooms {
  display: flex;
}

.col-rooms {
  width: 20%;
}

.new-movie-input {
  width: 90%;
  border: 2px solid #eee;
  border-radius: 3px;
  padding: 10px;
  margin-top: 5px;
}

.new-movie-label {
  display: block;
  font-weight: bold;
}

.movies-new-form {
  margin: 0 auto;
}

.movies-actions {
  text-align: center;
}

.movies-actions input {
  margin: 20px;
  padding: 10px 20px;
  background-color: rgb(138, 237, 255);
  border: 0;
}

.movie-card {
  border: 1px solid #bbb;
  border-radius: 2px;
  display: inline-block;
  padding: 10px;
  margin: 5px;
  width: 240px;
}

.movie-card h2,
h3 {
  text-align: center;
}

.movie-card span {
  font-weight: bold;
}

.movie-card p {
  overflow-wrap: break-word;
}

.movies-list {
  display: flex;
  flex-wrap: wrap;
}

.add-movie-btn {
  padding: 5px 10px;
  background-color: lightblue;
  border: 2px solid #eee;
  border-radius: 5px;
}

.error {
  color: white;
  text-align: center;
  background-color: rgb(212, 11, 11);
  line-height: 40px;
  font-size: medium;
  margin-bottom: 10px;
  border-radius: 20px;
}
