// Place all the styles related to the Reservations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.cinema-seats {
  p{
    width: 960px;
    background-color: cadetblue;
    text-align: center;
    font-size: xxx-large;
    height: 25px;
    padding: 20px 0px;
  }
  width: 960px;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.box {
  width: 78px;
  height: 45px;
  border: 1px solid #444;
  margin: 0;
  padding: 0;
  background-color: green;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  color: whitesmoke;
}

.taken {
  background-color: red;
}

.selected {
  background-color: rgba(255, 255, 0, 0.808);
  color: black
}
